/*The Page Aesthetics and Colour Guidelines */

/*The colour palette (in okclch codes)*/
:root {
  --color-1: oklch(0.182 0.027 275.0);
  --color-2: oklch(0.213 0.038 275.0);
  --color-3: oklch(0.278 0.075 275.0);
  --color-4: oklch(0.329 0.104 275.0);
  --color-5: oklch(0.375 0.128 275.0);
  --color-6: oklch(0.426 0.149 275.0);
  --color-7: oklch(0.494 0.170 275.0);
  --color-8: oklch(0.580 0.190 275.0);
  --color-9: oklch(0.632 0.185 275.0);
  --color-10: oklch(0.685 0.173 275.0);
  --color-11: oklch(0.850 0.107 275.0);
  --color-12: oklch(0.922 0.063 275.0);
}

/* The background */
body {
  background: linear-gradient(to bottom, var(--color-1), var(--color-5), var(--color-1));
  margin: 0;
  padding: 0;
}

/* 2. Centered wrapper */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

.card{
  background: #FCFEFF;
  border-radius: 0.25em;
  padding: 5%;
  margin: 5%;
}

/* The white block */
#main {
  background: #FCFEFF;
  border-radius: 0.25em;
  padding: 5em;
  margin-top: 4em;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  color: #FCFEFF;
  position: sticky;
  top: 0;
  padding: 10px 16px;
  position: sticky;
  background-color: var(--color-4);
  text-align: center;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Text Settings */
.title {
  background-color: var(--color-1);
  color: #FCFEFF;
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 32px;
  text-align: center;
  padding: 20px;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  letter-spacing: 1px;
}

h1 {
  background-color: var(--color-1);
  color: #FCFEFF;
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 32px;
  text-align: center;
  padding: 20px;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  letter-spacing: 1px;
}

h2 {
  color: #00111A;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  text-align: center;
  margin: 20px auto;
  border-bottom: 2px solid #d4af37;
  padding-bottom: 8px;
  width: fit-content;
  max-width: 90%;
}

h3 {
  color: #00111A;
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 22px;
  text-align: center;
  margin: 15px 0;
}

.item-meta {
  font-size: 0.85rem;
  color: #00111A;
  text-align: justify;
  text-justify: inter-word;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
  color: #00111A;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

li {
  list-style: none;
}   
